In [8]:
x = 5

we assigned a number to a variable

In [4]:
x

5

In [5]:
y = 8

In [7]:
Y

NameError: name 'Y' is not defined

Python is Case sensitive

In [9]:
print(y)

8

print complements the flow of code

In [10]:
x,y = (1,2)

We can assigne multiple variables at one

In [11]:
x

1

In [12]:
y

2

number values can be floats that decimals or Integers are whole numbers w/o a decimal`

In [13]:
type(x)

int

In [14]:
x2 = 4.5

In [15]:
type(x2)

float

we can use int() or float() to transform x or x2 into integers or floats

Boolean values are "true" or "false" values (1 or 0) (on or off) these are case sensitive and require a capital T or F

In [16]:
x3 = true

NameError: name 'true' is not defined

In [19]:
x3 = True
print(x3)

True

Strings are text values made by a sequence of characters

In [20]:
George

NameError: name 'George' is not defined

In [21]:
'George'

'George'

In [22]:
"George"

'George'

In [23]:
print("George")

George

In [24]:
x4 = 'George'
print(x4)

George

We cannot combine numbers (int or floats) with strings with the +, we need to convert the number into a string with the str() command

In [27]:
y = 10
print (y + "Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
y = 10
print (str(y) + " Dollars")

10 Dollars

For situations where we need an ' such as I'm, we can use the " or we can use the \ (escape character) or inversely, if we need " we can use ' on the outside

In [30]:
"I'm fine"

"I'm fine"

In [31]:
'I\'m fine'

"I'm fine"

In [32]:
'Red' 'car'

'Redcar'

In [33]:
'red ' 'car'

'red car'

In [35]:
'Red ' + 'car'

'Red car'

In [36]:
print ('red', 'car')

red car

In [37]:
print (3, 5)

3 5

In [38]:
3, 5, 6, 'car'

(3, 5, 6, 'car')