Tuples are another type of data sequences, and is the default of pyhtong listing
However, tuples cannot be edited in any way
To make a tuple, elements are placed within a () not a []

In [2]:
x = (40, 41, 42)
x

(40, 41, 42)

In [3]:
y = 50, 51, 52
y

(50, 51, 52)

In [5]:
a, b, c = 1, 2, 3
c

3

In [7]:
list_1 = [x,y]
list_1

[(40, 41, 42), (50, 51, 52)]

We can assign numbers to multiple tuples at once using the .split method
.split() bisects a string at a given string

In [11]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

Function can provide tuples as return values

In [14]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print('Area and Perimeter')
    return A,P
square_info(5)

Area and Perimeter

(25, 20)